---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Luca Maddaleni" description="Luca Maddaleni's Site, Contact information">
    <h1>
        Contact Info:
    </h1>
    <p>
        Email (business): <a style="color: #4FC3F7" href="mailto:lucagmaddaleni@gmail.com">lucagmaddaleni@gmail.com</a><br>
        Email (personal/dev): <a style="color: #4FC3F7" href="mailto:megasteel32@gmail.com">megasteel32@gmail.com</a><br>
        Cell Phone: Please email me for this<br>
        Github: <a style="color: #4FC3F7" href="https://github.com/Megasteel32" target="_blank">https://github.com/Megasteel32</a><br>
        Location: Atlanta/Sandy Springs
    </p>
</Layout>