---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home - Luca Maddaleni" description="Luca Maddaleni's Site, Home page">
    <main>
        <h1 style="text-align: left;">
            Sup, my name is Luca Maddaleni.
        </h1>

        <h2>
            However, you may also know me as Megasteel32.
            <a style="color: #4FC3F7" href="https://en.wikipedia.org/wiki/Irregardless" target="_blank">Irregardless</a>, welcome to my site! Here, you'll find out more about me,
            what I do, my past and current projects, and how to contact me.<br>

			This website is now using Astro, a static site generator framework and continues to be hosted by Cloudflare Pages.
        </h2>
    </main>
</Layout>