---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resume - Luca Maddaleni" description="Luca Maddaleni's Resume">
    <h1>Luca Maddaleni</h1>
    <p><a href="mailto:lucagmaddaleni@gmail.com"><em>lucagmaddaleni@gmail.com</em></a></p>

    <h2>Objective:</h2>
    <p>To perform the job at hand utilizing my skills to the fullest of my abilities while maintaining a professional and positive attitude, as well as a willingness to learn, adapt, and improve.</p>

    <h2>Work Experience</h2>
    <ul>
        <li>
            <p>Student Assistant - EXLAB Makerspace (March 2023 – Present)</p>
            <ul>
                <li>Guided students through the user of the makerspace including trainings, maintained cleanliness in the space, ensured tools and equipment were properly used and stored. Developed improvements to the space including interactive lighting.</li>
            </ul>
        </li>
        <li>
            <p>Parts Counter – NAPA Auto Parts (January 2022 – August 2022)</p>
            <ul>
                <li>Assisted retail and commercial customers with selecting parts, chemicals/additives, accessories, and assisted with the limited installation of components. Responsible for managing stocking of inventory, arranging new planograms and coordinating with management to ensure success of monthly sales.</li>
            </ul>
        </li>
        <li>
            <p>Warehouse 3<sup>rd</sup> Shift – Floor &amp; Decor (May 2021 – July 2021)</p>
            <ul>
                <li>Responsible for loading customers, picking work orders, operating forklifts/electric pallet jacks with safety remaining a priority.</li>
            </ul>
        </li>
        <li>
            <p>Manager – Sweetwater Pool Management (May 2020 – August 2020)</p>
            <ul>
                <li>Coordinate with guards at assigned pool to uphold previous standards of exceptional service, cleanliness, and safety, execute plan for COVID-19 sanitization, continue to represent the company with a positive attitude and team-oriented mindset</li>
            </ul>
        </li>
        <li>
            <p>Internship – PaliProto 3D Printing (January 2019 – May 2019)</p>
            <ul>
                <li>Design and adapt 3D models in Solidworks, set-up, initiate, and clean 3D prints, obtained knowledge in several printers, techniques and materials for several applications, ensured all work orders were completed to specification for clients ranging from hobbyists to high profile businesses.</li>
            </ul>
        </li>
    </ul>

    <h2>Clients</h2>
    <ul>
        <li>Fat Shack – Wired and Wireless Networks Emergency Support and Reconfiguration (September 2021)</li>
    </ul>

    <h2>Education</h2>
    <ul>
        <li>
            <p>Georgia State University – B.S. in Computer Science (In Progress)</p>
        </li>
        <li>
            <p>Riverwood International Charter School, Class of 2020</p>
            <p>IB Diploma (Higher Level Physics, Math, and Literature)</p>
        </li>
    </ul>

    <h2>Technical Skills and Certifications</h2>
    <ul>
        <li>Helpdesk and Networking</li>
        <li>Linux Configuration and Virtualization</li>
        <li>Photoshop and AfterEffects</li>
        <li>3D Modeling (SolidWorks)</li>
        <li>CompTIA A+</li>
        <li>Microsoft Office Programs</li>
        <li>Lifeguard/AED/First Aid</li>
        <li>Forklift Certified</li>
    </ul>

    <h2>Achievements</h2>
    <ul>
        <li>Eagle Scout</li>
        <li>National Merit Scholarship Commended</li>
        <li>Future Business Leaders of America – 3 National Awards, 6 State Awards</li>
    </ul>
</Layout>