<pre style="color: #FFFFFF;">
    ___       ___  ___  ________      ________  _____ ______
   |\  \     |\  \|\  \|\   ____\    |\   __  \|\   _ \  _   \
   \ \  \    \ \  \\\  \ \  \___|    \ \  \|\  \ \  \\\__\ \  \
    \ \  \    \ \  \\\  \ \  \        \ \   __  \ \  \\|__| \  \
     \ \  \____\ \  \\\  \ \  \____  __\ \  \ \  \ \  \    \ \  \
      \ \_______\ \_______\ \_______\\__\ \__\ \__\ \__\    \ \__\
       \|_______|\|_______|\|_______\|__|\|__|\|__|\|__|     \|__|
</pre>
<div style="display: flex; flex-direction: column; align-items: flex-start;">
    <pre id="motto" style="color: #FFFFFF;">
        "Never Trust, Always Verify"
    </pre>
</div>