<nav>
    <table>
        <tr>
            <td><a style="color: #4FC3F7" href="/" tabindex="0"><h1>Home</h1></a></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><a style="color: #4FC3F7" href="/resume" tabindex="0"><h1>Resume</h1></a></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><a style="color: #4FC3F7" href="/contact" tabindex="0"><h1>Contact</h1></a></td>
        </tr>
    </table>
</nav>